<h1 class="text-center">Estos son los servicios que podemos brindarte en Lcdietetica:</h1>


<!-- FEATURETTES -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="col-3" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Tienda fisica:</h2>
      <p class="lead"><strong>Tenemos un local donde podes encontrar cualuier producto que necesites.</strong> Esta ubicado en la calle Roca 1349, alli tenemos todo tipo de productos y si necesitas alguno del cual no disponemos lo mandamos a pedir sin ningun problema, tambien los encargados de atenderte estan capacitados para darte la mejor atencion y ayudarte en lo que necesites.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/img/inicio1.webp" width="470" alt="370">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Profesionales a disposicion: </h2>
      <p class="lead"><strong>Tenemos ayuda profesional.</strong> De los mejores nutricionistas de la zona, con mucha experiencia, capaces de ayudarte en lo que necesites, te crearan planes alimenticios pensados y basados solamente en vos, para que lleves una vida saluable, ellos te aconsejaran y acompañaran el tus procesos.</p>
      <img src="../../../assets/img/serviciosplan.jpg" class="rounded mx-auto d-block" width="300" alt="200">
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/img/inicio2.jpg" width="470" alt="370">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Catering para eventos: </h2>
      <p class="lead"><strong>Tenemos de los mejores caterings de la zona.</strong> Podras elegir entre varias opciones y diversas convinaciones, estan hechos con productos de primera calidad, tambien te ofrecemos opciones para celiacos, diabeticos, vegetrianos, entre otros.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/img/inicio3.jpg" width="470" alt="370">
    </div>
  </div>

  <hr class="featurette-divider">
</div>


