<h1 class="text-center">Algunos eventos donde estuvimos presentes:</h1>



<!-- FEATURETTES -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="col-3" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cumpleaños de Marcela Kloosterboer:</h2>
      <p class="lead"><strong>Hicimos el catering del cumpleaños de Marcela.</strong> La reconocida actriz se contacto con nosotros para que la ayudemos en su cumple con un catering vegetariano y vegano, el cual le encanto y nos recomendo varias veces.</p>
      <img src="../../../assets/img/marcela.jpg" class="rounded mx-auto d-block" width="200" alt="200">
    </div>
    <div class="col-md-5">
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/img/cumple.jpg" width="470" alt="370">
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Pre-venta del libro "celiacos famosos": </h2>
      <p class="lead"><strong>Hicimos el catering de la pre-venta del libro "celiacos famosos" .</strong> Nos contactaron para este gran evento en el cual ofrecimos opciones para celiacos, ya que sobre eso se trataba el libro.</p>
      <img src="../../../assets/img/libro.jpg" class="rounded mx-auto d-block" width="100" alt="150">
    </div>
    <div class="col-md-5 order-md-1">
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/img/pre_venta.jpg" width="470" alt="370">
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <h2 class="featurette-heading">Sponsors:</h2>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Fundacion Argentina de almentos: </h2>
        <p class="lead">Una institución creada el 6 de abril de 2009 y formada por un grupo de profesionales que trabaja en diversas temáticas relacionadas a la alimentación, y a la prevención de flagelos sociales derivados del déficit nutricional, brindando asistencia a familias y grupos vulnerables.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <img src="../../../assets/img/sponsor2.jpg" width="470" alt="370">
          </div>
        </div>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-6 text-center">
        <img src="../../../assets/img/sponsor1.png" width="280" alt="270">
      </div>
      <div class="col-6 text-center ">
        <img src="../../../assets/img/sponsor4.jpg" width="250" alt="170">
      </div>
    </div>

  <hr class="featurette-divider">
</div>

