<!--Carrusel-->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="15000">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/625419db5635f30017ab5312" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="carousel-item" data-bs-interval="15000">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/625d62c7b6c6c00018cfe496" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="carousel-item" data-bs-interval="15000">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6254a9b8b49d5e001129c18b" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <hr class="featurette-divider">
  
  <!--Card-->

  <div class="row g-0">
    <div class="col-4">
      <div class="card bg-warning text-center">
        <h4 class="alert-heading"> <i class="bi bi-credit-card"></i>Varias formas de pago</h4>
        <div class="card-body">
          Mercado pago, Visa, Mastercard, Efectivo, etc.
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-warning text-center" >
        <h4 class="alert-heading"> <i class="bi bi-truck"></i>Envios a todo el pais</h4>
        <div class="card-body">
          Oca, Correo argentino,etc.
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-warning text-center">
        <h4 class="alert-heading"> <i class="bi bi-percent"></i>Buenas promociones</h4>
        <div class="card-body">
          Descuentos especiales.
        </div>
      </div>
    </div>
  </div>










  
  <hr class="featurette-divider">

  <h1 class="text-center">Productos destacados:</h1>

  <hr class="featurette-divider">
  
<!--Card-->
  <div class="row g-0">
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto1.jpg); "  class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Mermelada Artesanal Sin Tacc El Brocal</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$499</p>
            <p class="Ahora">$399</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto2.jpg);" class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Yerba Mate de la Pampa Organica</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$939</p>
            <p class="Ahora">$815</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto3.png);" class="container" >
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Mayonesa de zanahoria Vegana Alcaraz</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$799</p>
            <p class="Ahora">$685</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto4.jpg);" class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Leche de almendras sin azucar- Cocoon</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$450</p>
            <p class="Ahora">$315</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row g-0">
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto5.jpg);" class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Vinagre de Arroz Wan Ja Shan</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$980</p>
            <p class="Ahora">$699</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto6.png);"  class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Pancakes de Avena Dulces con Frutos Rojos x 6u. 460 grs- Bygiro</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$739</p>
            <p class="Ahora">$615</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto7.jpg);" class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Vainillas SIN TACC x 180 grs-Santa María</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$399</p>
            <p class="Ahora">$215</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div style="background-image: url(../../../assets/img/producto8.jpeg);" class="container">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Premezcla Base Multiple Dimax</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="Antes">$529</p>
            <p class="Ahora">$405</p>
          </div>
          <div class="items cart">
            <button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-cart4"></i>Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>


