<!--Animacion-->
<div class="row g-0">
  <div class="col-1">

  </div>
  <div class="col-10">
    <div style="width: 95%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/625e9a813b8f980019a7df51" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
  </div>
  <div class="col-1">

  </div>
</div>

<hr class="featurette-divider">
<h1 class="text-center">Te presentamos nuestro equipo de trabajo:</h1>
<hr class="featurette-divider">
<!--Cards equipo-->

<div class="row g-0">
  <div class="col-md-4">
      <div class="card text-black bg-warning mb-3"  style="width: 18rem;">
        <img src="../../../assets/img/equipo1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sofia Peñalba</h5>
          <p class="card-text">Trabaja hace varios años con nosotros, es la empleada mas antigua, la encargada de la tienda, te ayudara en lo que necesites.</p>
        </div>
    </div>
  </div>  
  <div class="col-md-4">
    <div class="card text-black bg-warning mb-3" style="width: 18rem;">
      <img src="../../../assets/img/equipo2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Agustina Martinez</h5>
        <p class="card-text">Es nuestra nutricionista, tiene bastantes años de experiencia.</p>
      </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="card text-black bg-warning mb-3" style="width: 18rem;">
      <img src="../../../assets/img/equipo3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marcos Paredes</h5>
        <p class="card-text">Es nuestro nutricionista, tiene bastantes años de experiencia, solo llagan buenos comentarios de su atencion al publico.</p>
      </div>
    </div>
  </div>
</div>

<div class="row g-1">
  <div class="col-md-4">
    <div class="card text-black bg-warning mb-3" style="width: 18rem;">
      <img src="../../../assets/img/equipo4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Carla Toledo</h5>
        <p class="card-text">Es una muy buena empleada, ella esta toda ls mañanans en nuestra tienda y te ayudara co lo que necesites.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-black bg-warning mb-3" style="width: 18rem;">
      <img src="../../../assets/img/equipo5.png"  alt="..." class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Ignacio Barbieri</h5>
        <p class="card-text">Nuestro empleado mas simpatico, lo encontraras por las tardes en nuestra tienda.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-black bg-warning mb-3" style="width: 18rem;">
      <img src="../../../assets/img/equipo6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Valeria Lopez</h5>
        <p class="card-text">La mejor cajera que puedas encontrar, siempre muy cordial y amable con todos, predispuesta a atenderte de la mejor manera.</p>
      </div>
  </div>
  </div>
</div>


<!--link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="container">
	<div class="card">
		<figure class="card__thumb">
			<img src="../../../assets/img/equipo1.png" width="450" alt="480" >
			<figcaption class="card__caption">
				<h2 class="card__title">Sofia Peñalba</h2>
				<p class="card__snippet">Trabaja hace varios años con nosotros, es la empleada mas antigua, la encargada de la tienda, te ayudara en lo que necesites.</p>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="../../../assets/img/equipo2.png" width="450" alt="500" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Agustina Martinez</h2>
				<p class="card__snippet">Es nuestra nutricionista, tiene bastantes años de experiencia.</p>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="../../../assets/img/equipo3.png" width="450" alt="500" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Marcos Paredes</h2>
				<p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
			</figcaption>
		</figure>
	</div>
</div-->




