<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="../../../assets/img/logoo1.png" width="120"alt="120">
      </a>
      <p class="text-dark">© 2022<br>Lcdietetica_Company, Inc<br>Created by Lucila Chiara</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Nosotros</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="inicio" class="nav-link p-0 text-dark">Inicio</a></li>
        <li class="nav-item mb-2"><a routerLink="servicios" class="nav-link p-0 text-dark">Servicios</a></li>
        <li class="nav-item mb-2"><a routerLink="equipo" class="nav-link p-0 text-dark">Equipo</a></li>
        <li class="nav-item mb-2"><a routerLink="casos_exito" class="nav-link p-0 text-dark">Casos con exito</a></li>
        <li class="nav-item mb-2"><a routerLink="contacto" class="nav-link p-0 text-dark">Contactos</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Metodos de pago</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><img src="../../../assets/img/pago.png" width="200" alt="80"></li>
      </ul>
    </div>

    <div class="col">
      <h5>Redes Sociales</h5>
      <ul class="nav flex-column">
        <li class="ms-3"><i class="bi bi-instagram"></i><a class="text-dark" href="#"> @Lcdietetica_ofc<svg class="bi" width="35" height="35"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><i class="bi bi-facebook"></i><a class="text-dark" href="#"> Lcdietetica<svg class="bi" width="35" height="35"><use xlink:href="#facebook"></use></svg></a></li>
        <li class="ms-3"><i class="bi bi-whatsapp"></i><a class="text-dark" href="#"> +542997483290<svg class="bi" width="35" height="35"><use xlink:href="#whatsapp"></use></svg></a></li>
        <li class="ms-3"><i class="bi bi-envelope"></i><a class="text-dark" href="#"> Lcdietetica@gmail.com<svg class="bi" width="35" height="35"><use xlink:href="#gmail"></use></svg></a></li>
    </ul>
    </div>
  </footer>
</div>
